﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery.ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphaeljs/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphaeljs/pie.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/raphaeljs/histogram.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphaeljs/popup.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts.js")" type="text/javascript"></script>
</head>
<body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Leaders</a></h3>
          <ul class="nav">
            <li><a href="@Url.Content("~/Home/Index")">Accueil</a></li>
            <li><a href="@Url.Content("~/Leader/Ages")">Âges</a></li>
            <li><a href="@Url.Content("~/Company/Index")">Recherche</a></li>
            <li><a href="@Url.Content("~/Leader/ExperienceSalary")">Graphique</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id="content">
        @RenderBody()
    </div>
</body>
</html>
