﻿@{
    ViewBag.Title = "PieChart";
}
<table>
    <tbody>
        <tr>
            <th scope="row">Ruby</th>
            <td>40%</td>
        </tr>
        <tr>
            <th scope="row">JavaScript</th>
            <td>26%</td>
        </tr>
        <tr>
            <th scope="row">Shell</th>
            <td>5%</td>
        </tr>
        <tr>
            <th scope="row">Python</th>
            <td>5%</td>
        </tr>
        <tr>
            <th scope="row">PHP</th>
            <td>4%</td>
        </tr>
        <tr>
            <th scope="row">C</th>
            <td>4%</td>
        </tr>
        <tr>
            <th scope="row">Perl</th>
            <td>3%</td>
        </tr>
        <tr>
            <th scope="row">C++</th>
            <td>2%</td>
        </tr>
        <tr>
            <th scope="row">Java</th>
            <td>2%</td>
        </tr>
        <tr>
            <th scope="row">Objective-C</th>
            <td>2%</td>
        </tr>
    </tbody>
</table>
<div id="holder"></div>

