﻿@model LeaderStats.Models.Leader

<fieldset class="alternate">
    <div class="display-label"><b>Name : @Model.Name</b></div>

    <div class="display-label">Age : @Model.Age</div>

    <div class="display-label">Experience : @Model.Experience</div>

    <div class="display-label">Salary : @String.Format("{0:C}", @Model.Salary)</div>
</fieldset>

