﻿@model System.Collections.Generic.List<LeaderStats.Models.ViewModels.AgeFraction>

@{
    ViewBag.Title = "Ages";
    Layout = "~/Views/Shared/layouts/default.cshtml";
}

<h2>Ages</h2>
<table>
    <tbody>
@foreach (var i in Model)
{
        <tr>
            <th scope="row">@i.Label</th>
            <td>@(@i.Fraction * 100)%</td>
        </tr>
}
    </tbody>
</table>
<div id="pieHolder"></div>

