﻿@model List<LeaderStats.Models.ViewModels.ExperienceSalary>

@{
    ViewBag.Title = "ExperienceSalary";
    Layout = "~/Views/Shared/layouts/default.cshtml";
}

<h2>ExperienceSalary</h2>

<table id="data">
<tfoot>
    <tr>
       
        @foreach(var i in Model)
        {
         <th>@i.Experience</th>   
        }
    </tr>
</tfoot>
<tbody>
    <tr>
          @foreach(var i in Model)
        {
         <td>@i.Salary</td>   
        }
    </tr>
</tbody>
</table>
<div id="holder2"></div>