﻿@model LeaderStats.Models.ViewModels.IndexViewModel
           
@{
    ViewBag.Title = "LeaderStats";
    Layout = "~/Views/Shared/layouts/default.cshtml";
}

<h2>LeaderStats</h2>
Bienvenue sur le plus révolutionnaire moteur de recherche au monde.
<br />
@{
    if (Model.IsIndexed == null || !Model.IsIndexed)
    {
        <text>Vous devez indexer la base de donnée avant tout : </text> @Html.ActionLink("Index", "IndexNow", String.Empty) 
    }
}



