﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layouts/default.cshtml";
}

<h2>Index</h2>


    @using(Html.BeginForm("Search", "Company"))
    {
        
       @Html.TextBox("term", String.Empty, new { id="keywords" })
        <input type="submit" value="Search" />
    }


