﻿@model LeaderStats.Models.ViewModels.CompanyViewModel
           
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/layouts/default.cshtml";
}

<h2>Search Result</h2>

@if (String.IsNullOrEmpty(Model.Name))
{
<p style="color:Red">Company could not be found.</p>
}
else
{
<h3 style="color:White"> Name : @Model.Name</h3><br />
<h3 style="color:White"> Ticker : @Model.Ticker</h3><br /> 
<h3 style="color:White"> Employees count : @Model.Employees.Count</h3><br />
    foreach (var employee in @Model.Employees)
    {
        @Html.Partial("~/Views/Leader/_Leader.cshtml", employee)
    }
  }

