﻿body {
}

#pieHolder 
{
	margin: -350px 0 0 -350px;
	width: 700px;    
	height: 700px;
}

body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#pieHolder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}

.alternate
{
    padding: 30px;
     border: 1px dashed transparent;
     border-radius: 5px;
}

.alternate:hover 
{
    background-color:#444;
    border: 1px dashed white;
    border-radius: 5px;
}

#content
{
    margin-top:50px;
}   

#data
{
    display:none;
}